h1 {
  color: blueviolet;
  background: lightblue;
  font-family: 'Times New Roman', Times, serif;
}
p {
  color: brown;
  font-size: 20px;
}
h2 {
  padding-left: 600px;
  font: 20px Courier, monospace;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
  width: 100%;
  padding: 10px;
  font-weight: 200;
  font-size: 15px;
  border-collapse: collapse ;
}
td{
  border: 0.5px solid blue;
  padding: 10px;
  font-weight: 200;
}


thead {
  font-size: 15px;
}

